
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ALi</td>
            <td>Maiga</td>
            <td>Formateur</td>
          </tr>
          <tr>
            <td>Mous</td>
            <td>MAIGA</td>
            <td>Apprenants</td>
          </tr>
          <tr>
            <td>Vieux</td>
            <td>Miga</td>
            <td>Formateur</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
