.p{
    text-align: center;
}
.p1{
    width: 100%;
    height: auto;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    border: 1px solid black; 
    text-align: center;   
}
.but{
    text-align: center;
}
.a{

button{
    background-color: rgb(56, 165, 42);
}
}
.button{

}
button{
    background-color: rgb(116, 0, 0);
}
