<div class="p">
  <h1>Ajouter un Apprenant</h1>
  </div>
      <div class="container">
          <div class="p1">
              <form action="">
              <h1>
                  <label>Nom</label>
                  <input type="text" placeholder="Nom"><br><br>
              </h1>
              <h1>
                  <label>Prenom</label>
                  <input type="text" placeholder="Prenom"><br><br>
              </h1>
              
              <h1>
                  <label>Age</label>   
                  <input type="text" placeholder="age"><br><br>
              </h1>
              <h1>
                  <label>Genre</label>
                  <input type="text" placeholder="Genre"><br><br>
              </h1>
              <h1>
                  <label>Telephone</label>
                  <input type="text" placeholder="Telephone"><br><br>
              </h1>
              <div class="a">
                  <p>
                  <h3>
                   <label>Apprenant</label>
              <button>Ajouter</button>
              <label> Admin</label>
              <button>Ajouter</button>
          </h3>
          </div>
              </form>  
          </div>
          <div class="p1">
              <form action="">
                  <h1>
                      <label>Email</label>
                      <input type="text" placeholder="Email"><br><br>
                  </h1>
                  <h1>
                      <label>login</label>
                      <input type="text" placeholder="login"><br><br>
                  </h1>
                  
                  <h1>
                      <label>Password</label>   
                      <input type="text" placeholder="Password"><br><br>
                  </h1>
                  <h1>
                      <label>Date de creation</label>
                      <input type="text" placeholder="Date de creation"><br><br>
                  </h1>
                  <h1>
                      <label>Date de modification</label>
                      <input type="text" placeholder="Telephone"><br><br>
                  </h1>
                  <div class="button" routerLink="dashboard">
                      <h2>
                      <button>Annuler</button>
                      <label>Liste</label>
                      <button>Ajouter</button>
                  </h2>
                  </div>
              </form>
          </div>
      </div>
  